input, textarea, button {font-family: inherit}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #091218;
  color: aliceblue;

  .header-container {
    padding: 2rem;
    margin: 0.5rem;

    .header {
        font-size: 3.5rem;
        font-weight: 700;
    }
  }

  .values-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    background: linear-gradient(45deg, #303030, #16161d);
    color: rgb(255, 255, 255);
    width: 85%;
    padding: 1rem;
    border-radius: 10px;
    box-sizing: border-box; /* Include padding and border in the width */

    .form {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .value {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // width: 100%; /* Occupy full width of the parent div */
      max-width: 400px; /* Set a maximum width for the child div */
      margin: 0 auto; /* Center the child div */
      box-sizing: border-box; /* Include padding and border in the width */

      .download-container {
        margin: 10px;
      }
      // animating download text
      a {
        text-decoration: none;
        color: #adadad;
        position: relative;
        transition: all 0.2s ease-in-out;
      }
      
      a:hover {
        color: #fff;
        transform: translateY(-5px);
      }
      
      a::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #adadad;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.2s ease-in-out;
      }
      
      a:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

  }

  .button {
    background-color: #e62939; /* set the background color to a red shade */
    border: none; /* remove the button border */
    color: #FFFFFF; /* set the text color to white */
    cursor: pointer; /* set the cursor to a pointer on hover */
    font-size: 16px; /* set the font size to 16 pixels */
    font-weight: 700;
    padding: 12px 24px; /* add padding to the button */
    border-radius: 50px; /* round the corners of the button */
    transition: background-color 0.3s ease; /* add a transition effect */
  }
  
  .button:hover {
    background-color: #F1FAEE; /* set the background color to a light shade of green on hover */
    color: #1f1f1f; /* change the text color to black on hover */
  }

}

// div {
//   background: linear-gradient(45deg, #1f1f1f, #3f3f3f);
//   border: 5px solid #1f1f1f;
//   box-shadow: 0 0 10px 2px rgba(31, 31, 31, 0.5);
//   transition: box-shadow 0.3s ease-in-out;
// }

// div:hover {
//   box-shadow: 0 0 50px 10px rgba(31, 31, 31, 0.8);
// }