.picker-container {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    justify-content: center;
    align-items: center;

    .label {
        padding: 5px;
        display: flex;
        justify-content: center;
    }
    .color-picker {
        padding: 0;
        display: flex;
        justify-content: center;
    }
}